<% if current_user %>

  <button class="btn btn-primary">Esse home entrou como <strong><%= current_user.name %></strong>!</button> 
  <br /><br />
  <%= link_to "Sair", signout_path, id: "sign_out", :class => 'btn btn-danger' %>
<% else %>
  <%= link_to "Entre com o usuário do Facebook", "/auth/facebook", id: "sign_in", :class => 'btn btn-primary' %>
<% end %>
